<h1>Editing eventgroup</h1>

<%= render "form", eventgroup: @eventgroup %>

<br>

<div>
  <%= link_to "Show this eventgroup", @eventgroup %> |
  <%= link_to "Back to eventgroups", eventgroups_path %>
</div>
