<h4>Welcome Demo App</h4>
<p>This app stores Users and the Groups they attend. Users have first names and last names. Groups have
a name. Users can attend multiple groups and have roles in each group. The roles are: Organizer,
Presenter, and Participant.</p>
